/** @format */

:root {
  --mainBG: hsl(0, 0%, 8%);
  --buttonColor: hsl(0, 0%, 20%);
  --cardBG: hsl(0, 0%, 12%);
  --locationColor: hsl(75, 94%, 57%);
  --activeButtn: hsl(75, 94%, 57%);

  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --OffBlack: hsl(0, 0%, 8%);
  --Green: hsl(75, 94%, 57%);
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: var(--mainBG);
}
.card {
  background-color: var(--cardBG);
  width: ;
}

#profile-pic {
  border-radius: 50%;
  size: 0.3rem;
  margin: 0 auto;
}
.img-wrapper {
  padding: 0 auto;
}
#name {
  color: var(--White);
  text-align: center;
}
#location {
  color: var(--locationColor);
  text-align: center;
}
#about {
  color: var(--White);
  text-align: center;
}
ul {
  text-align: center;
}
li {
  list-style-type: none;
  background-color: var(--buttonColor);
  margin: 0.5rem;
  color: var(--White);
}
