/** @format */

:root {
  --mainBG: hsl(0, 0%, 8%);
  --buttonColor: hsl(0, 0%, 20%);
  --cardBG: hsl(0, 0%, 12%);
  --locationColor: hsl(75, 94%, 57%);
  --activeButtn: hsl(75, 94%, 57%);

  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --OffBlack: hsl(0, 0%, 8%);
  --Green: hsl(75, 94%, 57%);
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: var(--mainBG);
}
.card {
  background-color: var(--cardBG);
  width: 18rem;
  position: relative;
  height: 30rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  display: flex;
  border: 1px solid blue;
}

#profile-pic {
  border-radius: 50%;
  width: 5rem;
  margin: 1.2rem auto;
  position: absolute;
}

.img-wrapper {
  margin: 0 auto;
  /* border: 1px solid red; */
  position: absolute;
  left: 6rem;
}

.info {
  margin: 7.5rem auto;
  width: 12rem;
  display: flexbox;
}

#name {
  color: var(--White);
  text-align: center;
  font-size: 1.2rem;

  /* position: relative; */
  /* border: 1px solid red; */
}

#location {
  color: var(--locationColor);
  text-align: center;
  font-size: 1rem;
}
#about {
  color: var(--White);
  text-align: center;
  font-size: 1rem;
}
ul {
  text-align: center;
  width: 15rem;
  margin: 0 auto;
}
li {
  border: 1px solid greenyellow;
  list-style-type: none;
  background-color: var(--buttonColor);
  margin: 0.5rem auto;
  /* justify-content: center; */
  /* justify-self: center; */
  /* align-items: center; */
  /* text-align: center; */
  color: var(--White);
  width: 15rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
